nav,.main-sidebar,.main-footer,
.dt-buttons,#dataTableBuilder_length,#dataTableBuilder_filter,#dataTableBuilder_info
,#dataTableBuilder_paginate,.container-fluid >h1
{
    display: none;
}
.content-header .container-fluid >div div:nth-child(1) {
    display: none;
}
button{
    display: none;
}
.print-custom{
    display: block;
    visibility: visible;
}
#filterBtn,#filter > div > a{
    display: none;
}
#filter input:not(.print){
    display: none;
}
#filter select:not(.print){
    display: none;
}
#filter label:not(.print){
    display: none;
}
#filter label:not(.print){
    display: none;
}
.dt-buttons.btn-group.flex-wrap{
    display: none;
}
